<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="采购系统.Properties.Settings.purchasingConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\purchasing.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>